<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>crear usuario</h1>
    <form action="/create" method="post">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name">
        <label for="age">Edad</label>
        <input type="text" name="age" id="age">
        <input type="submit" value="Registrar">
    </form>
</body>

</html>