<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <h1>eliminar usuario</h1>
    <form action="/delete/<%=user[0]['id'] %>" method="POST">
        <h2>Do you want delete user?</h2>
        <a id='btn-update' href="/users">Cancelar</a>
        <input id='btn-delete' type="submit" value="Si Eliminar">
    </form>
</body>

</html>