<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Pagina de inicio</h1>
    <script src="/js/index.js"></script>
</body>

</html>