<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>actualizar datos universidad</h1>
    <form action="/update/<%=user[0]['id']%>" method="POST">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" value="<%= user[0]['name']%>">
        <label for="age">Edad</label>
        <input type="text" name="age" id="age" value="<%=user[0]['age']%>">
        <input type="submit" value="actualizar">
    </form>
</body>

</html>