<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <h1>Usuarios</h1>
</head>

<body>

    <table>

        <tr>

            <td> Id </td>
            <td> Nombre </td>
            <td> Edad </td>
            <td> Modificar</td>
            <td>Eliminar</td>
        </tr>
        <% users.forEach((user)=>{ %>
            <tr>
                <td>
                    <%=user.id %>
                </td>
                <td>
                    <%=user.name %>
                </td>
                <td>
                    <%=user.age %>
                </td>
                <td> <a id='btn-update' href="/update/<%= user.id %>">Modificar</a></td>
                <td> <a id='btn-delete' href="/delete/<%= user.id %>">Eliminar</a></td>
            </tr>

            <%  })%>

    </table>
</body>

</html>